body { 
    margin: 0;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.post {
    max-width: 50%;
    padding: 20px;
    border-radius: 4px;
    line-height: 1.5;
    font-family: serif;
    background-color: white;
    box-shadow: 0 3px 3px red, 0 8px 5px blue, 0 12px 10px green, 0 25px 20px purple, 0 41px 34px orange, 0 100px 80px teal;
    /* box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green, 0 22.3px 17.9px purple, 0 41.8px 33.4 orange 0 100px 80px teal; */
}

.post_title { 
    margin-top: 0;
    max-width: 100%;
}

.post_text {
    margin-bottom: 0;
    max-width: 100%;
}